body {
  display: flex;
  flex-direction: row;
  margin: 0;
}

main{
 width: 75vw;
 height: 100vh;
 margin: 0;
}
.titles{
  margin: 3px;
  font-size: 2vw;
}

.subtitles{
  font-size: 25px;
}

.parag{
  font-size: 20px;
  text-align : center;
}
td{
  height: 33%;
  width: 20%;
  background-color: rgb(125, 124, 134);
}
 
/*****************************************Premières Colonnes **************************************************/

#image{
  background-image: url("./images/detective.png");
  height: 9vw;
  width: 9vw;
  background-repeat: no-repeat;
  background-size: cover;
}
#character {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  background-color: rgb(238, 193, 176);
  text-align: center;
}

#inventory{
  height: 100vh;
  width: 10vw;
  background-color: rgb(231, 229, 114);
}


.caractéristiques{

  background-color: rgb(105, 114, 114);
  height: 25%;
  width: 20%;
  border: 2px black dotted;
  padding:10px;

} 

#carac{
  
  width: 20vh;
  height: 20vh;
}

#passif{
  width: 12vh;
  height: 12vh; 
}

.pass{
  background-color: rgb(105, 114, 114);
  height: 25%;
  width: 20%;
  /* border: 2px black dotted; */
}

#etat{
  width: 12vh;
  height: 12vh; 
}

#invent{
  font-size: 35px;
  width:1px;
  word-wrap: break-word;
  font-family: monospace;
}

/**************************************************Footer*************************************************/

#foot{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
}

#summary{
  width: 100%;
  height: 15vh;
  background-color: rgb(245, 194, 181);
}

#timer{
  width: 15vh;;
  height: 15vh;
  background-color: rgb(100, 200, 207);
}

/*****************************************Place******************************************************/

#head{
  display: flex;
  justify-content: space-between;
  height: 25vh;
  width: 75vw;
}
#lieuImg{
  background-image: url("./images/city-hall.png");
  height: 7vw;
  width: 7vw;
  background-repeat: no-repeat;
  background-size: cover;

}

#pnjImg{
  background-image: url("./images/security.png");
  height: 7vw;
  width: 7vw;
  background-repeat: no-repeat;
  background-size: cover;
}


#placeIcon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  width: 25vh;
  background-color: rgb(170, 209, 190);
}

#placeDescription{
  width: 50%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#scenaries{
  width: 100%;
  height: 60vh;
}

#pnjIcon{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 25vh;
  width: 25vh;
  background-color: rgb(136, 137, 141);
  /* text-align: center; */
}
/***********************************************Map******************************************************/

#places{
  width: 100%;
  height: 60vh;
}

#map{
  margin-top: 4vh;
  background-image: url("./images/map.png");
  height: 7vw;
  width: 7vw;
  background-repeat: no-repeat;
  background-size: cover;
}

/***********************************************Interaction******************************************************/
.dialJoueur{
margin:5% 10% 5% 10%;
width: 50%;
height: 35%;
background-color: rgb(199, 207, 149);
border: 2px black dotted;

}
.dialPnj{
margin:0% 10% 5% 40%;
width: 50%;
height: 35%;
background-color: rgb(199, 207, 149);
border: 2px black dotted;

}

.dial{
display: flex;
}

.dialog{
  width: 70%;
  height: 60vh;
  background-color: rgb(105, 110, 110);
}

#Interaction{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30%;
  background-color: rgb(156, 190, 183);
  padding: 2%;

}

.inter{
  margin: 2vh;
  width: 10vh;
  height: 10vh;

}


/******************************************Bilan*************************************************/
#bil{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(172, 182, 182);
}


#haut{
  margin-top: 3%;
}

#suspect tr td{
  width: 15vh;
  height: 15vh;
  background-color: rgb(163, 133, 133);
  padding: 5px;
}

#indice tr td{
  width: 15vh;
  height: 15vh;
  background-color: rgb(163, 133, 133);
  padding: 5px;

}

#alibi tr td{
  width: 15vh;
  height: 15vh;
  background-color: rgb(163, 133, 133);
  padding: 5px;
}
/*******************************************************************************************/
